<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47b3d003-9108-4b03-ac8e-2ee6812f57ae/resourceGroups/rdi-bicep-playground-rg/providers/Microsoft.Web/sites/rdi-bicep-playground-blazingpizza-gateway-dev-as</ResourceId>
    <ResourceGroup>rdi-bicep-playground-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rdi-bicep-playground-blazingpizza-gateway-dev-as.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>93109ec6-317b-434d-9b3f-787e03d3f214</ProjectGuid>
    <MSDeployServiceURL>rdi-bicep-playground-blazingpizza-gateway-dev-as.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rdi-bicep-playground-blazingpizza-gateway-dev-as</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$rdi-bicep-playground-blazingpizza-gateway-dev-as</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>